DEBUG=True
SECRET_KEY=your_secret_key


# POSTGRES SETTINGS
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host
POSTGRES_PORT=your_db_port

# POLYGON API KEY FROM: https://polygon.io/
POLYGON_API_KEY=your_polygon_api_key


# CELERY SETTINGS
CELERY_BROKER_REDIS_URL="redis://localhost:6379"


# STRIPE SETTINGS: https://stripe.com/en-pl
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_ENDPOINT_SECRET=your_webhook_endpoint_secret

# SMTP SETTINGS
EMAIL_HOST_PASSWORD="wvfm pxwo ualq zetx"
